<div class="flex-col flex gap-8">
    <h3 class="text-4xl font-bold mx-auto">Find your niche</h3>
    <div class="flex gap-6">
        {% for category in categories %}
        <a href="{% url 'posts' %}?category={{category.name}}"
            class="relative block overflow-hidden rounded-lg border border-gray-100 p-4 sm:p-6 lg:p-8 bg-white">
            <span
                class="absolute inset-x-0 bottom-0 h-2 bg-gradient-to-r from-green-300 via-blue-500 to-purple-600"></span>

            <div class="sm:flex sm:justify-between sm:gap-4">
                <div>
                    <h3 class="text-lg font-bold text-gray-900 sm:text-xl">
                        {{category.name}}
                    </h3>

                    <p class="mt-1 text-xs font-medium text-gray-600">By John Doe</p>
                </div>

                <div class="hidden sm:block sm:shrink-0">
                    <img alt="" src="{{category.icon}}" class="size-16 rounded-lg object-cover shadow-sm" />
                </div>
            </div>

            <div class="mt-4">
                <p class="text-pretty text-sm text-gray-500">
                    {{category.desc}}

                </p>
            </div>

            <dl class="mt-6 flex gap-4 sm:gap-6">
                <div class="flex gap-1 items-center justify-center">
                    <img width="24" height="24" src="https://img.icons8.com/material-sharp/24/12B886/full-stop.png"
                        alt="full-stop" />
                    <dt class="text-sm  text-gray-600">Opened</dt>
                    <dd class="text-sm font-medium text-gray-500">{{category.counts}}</dd>
                </div>

                <div class="flex gap-1 items-center justify-center">
                    <img width="24" height="24" src="https://img.icons8.com/material-sharp/24/FA5252/full-stop.png"
                        alt="full-stop" />
                    <dt class="text-sm  text-gray-600">Closed</dt>
                    <dd class="text-sm font-medium text-gray-500">{{category.closed}}</dd>
                </div>
            </dl>
        </a>
        {% endfor %}
    </div>
</div>